# First Name: Elijah
# Last Name: Ang

In [1]:
import pandas as pd
import numpy as np

In [2]:
nesarc = pd.read_csv('nesarc(1).csv', low_memory=False)
pd.set_option('display.float_format', lambda x:'%f'%x)

In [5]:
nesarc['S2AQ5A'] = pd.to_numeric(nesarc['S2AQ5A'], errors='coerce')
nesarc['S2AQ5B'] = pd.to_numeric(nesarc['S2AQ5B'], errors='coerce')
nesarc['S2AQ5D'] = pd.to_numeric(nesarc['S2AQ5D'], errors='coerce')
nesarc['S2BQ1B1'] = pd.to_numeric(nesarc['S2BQ1B1'], errors='coerce')

# For Beer drinking status (S2AQ5A) fill in nan value with 11 & print first 10 rows

In [6]:
nesarc['S2AQ5A'] = nesarc['S2AQ5A'].fillna(11)  # fill in nan value with 11
nesarc['S2AQ5A'].head(10)

0   11.000000
1    1.000000
2   11.000000
3   11.000000
4   11.000000
5    2.000000
6    2.000000
7    2.000000
8    1.000000
9    2.000000
Name: S2AQ5A, dtype: float64

# For S2BQ1B1 - Effects of beer drinking (Beer Dependence) in the last 12 months replace 9 (unknown) in S2BQ1B1 (effects of beer consumtion in the last 12 months) to nan
# & print first 10 rows

In [7]:
print('counts for original S2BQ1B1 (including 9=unknown)')
print(nesarc['S2BQ1B1'].value_counts(sort=False, dropna=False))

# replace 9 (unknown) with NaN
nesarc['S2BQ1B1'] = nesarc['S2BQ1B1'].replace(9, np.nan)

print('\nfirst 10 rows of S2BQ1B1 after replacing 9 with NaN')
nesarc['S2BQ1B1'].head(10)

counts for original S2BQ1B1 (including 9=unknown)
S2BQ1B1
NaN         16147
2.000000    25309
1.000000     1326
9.000000      311
Name: count, dtype: int64

first 10 rows of S2BQ1B1 after replacing 9 with NaN

0        NaN
1   2.000000
2        NaN
3        NaN
4        NaN
5   2.000000
6   2.000000
7   2.000000
8   2.000000
9   1.000000
Name: S2BQ1B1, dtype: float64

# Recode S2BQ1B1 so that
# 0 is no 
# 1 is yes
# currently 2 is no
# & print first 5 rows

In [8]:
recode ={1: 1, 2: 0}
nesarc['S2BQ1B1'] = nesarc['S2BQ1B1'].replace(recode)
nesarc['S2BQ1B1'].head(5)

0        NaN
1   0.000000
2        NaN
3        NaN
4        NaN
Name: S2BQ1B1, dtype: float64

# Obtain a subset of nesarc data, with the following criteria
# Age from 26 to 50
# Beer drinking status - S2AQ5A = Y

In [9]:
nesarc['AGE'] = pd.to_numeric(nesarc['AGE'])

#subset data to young adults age 26 to 50 who have drink beer in the past 12 months
sub1=nesarc[(nesarc['AGE']>=26) & (nesarc['AGE']<=50) & (nesarc['S2AQ5A']==1)]

# Copy sub 1 to sub 2

In [10]:
sub2 = sub1.copy()
sub2.head()
len(sub2)

10517

# Use sub2 data
# Print the count of HOW OFTEN DRANK BEER IN LAST 12 MONTHS (S2AQ5B)

In [11]:
c_beer_feq = sub2['S2AQ5B'].value_counts(sort=False, dropna=False)
print('counts for original S2AQ5B')
print(c_beer_feq)

counts for original S2AQ5B
S2AQ5B
10.000000    1270
9.000000     1226
7.000000     1229
6.000000     1579
4.000000     1310
8.000000      682
5.000000     1485
2.000000      369
1.000000      417
3.000000      925
99.000000      25
Name: count, dtype: int64

# Based on my research, I'm assuming that drinking less than once a month is not going to affect a person. So, we are going replace the following in 'HOW OFTEN DRANK BEER IN LAST 12 MONTHS (S2AQ5B)' to nan
# 8
# 9
# 10
# 99

In [12]:
sub2['S2AQ5B'] = sub2['S2AQ5B'].replace({8: np.nan, 9: np.nan, 10: np.nan, 99: np.nan})

# Use sub2 data
# Print the count of HOW OFTEN DRANK BEER IN LAST 12 MONTHS (S2AQ5B) with 8, 9, 10 and 99 set nan

In [13]:
c_beer_feq_nan = sub2['S2AQ5B'].value_counts(sort=False, dropna=False)
print('counts for original S2AQ5B with 8, 9, 10 and 99 set to NAN')
print(c_beer_feq_nan)

counts for original S2AQ5B with 8, 9, 10 and 99 set to NAN
S2AQ5B
NaN         3203
7.000000    1229
6.000000    1579
4.000000    1310
5.000000    1485
2.000000     369
1.000000     417
3.000000     925
Name: count, dtype: int64

# Use sub2 data
# Count the NUMBER OF BEERS USUALLY CONSUMED ON DAYS WHEN DRANK BEER IN LAST 12 MONTHS (S2AQ5D)

In [14]:
c_beer_quan = sub2['S2AQ5D'].value_counts(sort=False, dropna=False)
print('counts for S2AQ5D')
print(c_beer_quan)

counts for S2AQ5D
S2AQ5D
1.000000     3625
4.000000      749
3.000000     1619
2.000000     3087
10.000000      53
6.000000      702
8.000000      106
12.000000     150
7.000000       57
5.000000      278
24.000000      12
20.000000       3
9.000000       19
99.000000      31
18.000000      12
15.000000       7
14.000000       3
17.000000       1
13.000000       1
30.000000       1
11.000000       1
Name: count, dtype: int64

# Use sub2
# Replace the 99  in 'NUMBER OF BEERS USUALLY CONSUMED ON DAYS WHEN DRANK BEER IN LAST 12 MONTHS (S2AQ5D)' to nan

In [15]:
sub2['S2AQ5D'] = sub2['S2AQ5D'].replace(99, np.nan)

# Print the count of 'NUMBER OF BEERS USUALLY CONSUMED ON DAYS WHEN DRANK BEER IN LAST 12 MONTHS (S2AQ5D)'- with 99 set to NAN

In [16]:
c_beer_quan_nan = sub2['S2AQ5D'].value_counts(sort=False, dropna=False)
print('counts for S2AQ5D with 99 set to NAN')
print(c_beer_quan_nan)

counts for S2AQ5D with 99 set to NAN
S2AQ5D
1.000000     3625
4.000000      749
3.000000     1619
2.000000     3087
10.000000      53
6.000000      702
8.000000      106
12.000000     150
7.000000       57
5.000000      278
24.000000      12
20.000000       3
9.000000       19
NaN            31
18.000000      12
15.000000       7
14.000000       3
17.000000       1
13.000000       1
30.000000       1
11.000000       1
Name: count, dtype: int64

# Use sub2
# Recode HOW OFTEN DRANK BEER IN LAST 12 MONTHS (S2AQ5B) 
# as following

# 1 to 7
# 2 to 6
# 3 to 5
# 5 to 3
# 6 to 2 
# 7 to 1

# so that larger categorical numbers indicate more frequently someone drinks beer

# print the count for BEER-FEQ

In [17]:
recode1 = {1: 7, 2: 6, 3: 5, 4: 4, 5: 3, 6: 2, 7: 1}  # higher number = more frequent
sub2['BEER_FEQ'] = sub2['S2AQ5B'].replace(recode1)

recode_beer_feq = sub2['BEER_FEQ'].value_counts(sort=False, dropna=False)
print('counts for BEER_FEQ')
print(recode_beer_feq)

counts for BEER_FEQ
BEER_FEQ
NaN         3203
1.000000    1229
2.000000    1579
4.000000    1310
3.000000    1485
6.000000     369
7.000000     417
5.000000     925
Name: count, dtype: int64

# Use sub 2
# Recode HOW OFTEN DRANK BEER IN LAST 12 MONTHS (S2AQ5B) 
# as following

# 1 to 30
# 2 to 26
# 3 to 14
# 4 to 8
# 5 to 4
# 6 to 2.5 
# 7 to 1

# so that larger categorical numbers indicate more frequently someone drinks beer

# print count of BEER_REQMO

In [18]:
recode2 = {1: 30, 2: 26, 3: 14, 4: 8, 5: 4, 6: 2.5, 7: 1}
sub2['BEER_FEQMO'] = sub2['S2AQ5B'].replace(recode2)

recode_beer_feq_m = sub2['BEER_FEQMO'].value_counts(sort=False, dropna=False)
print('counts for BEER_FEQMO')
print(recode_beer_feq_m)

counts for BEER_FEQMO
BEER_FEQMO
NaN          3203
1.000000     1229
2.500000     1579
8.000000     1310
4.000000     1485
26.000000     369
30.000000     417
14.000000     925
Name: count, dtype: int64

# Use sub2
# Create secondary variable NUMBEERMO_EST
# NUMBEERMO_EST = BEER_FEQMO * S2AQ5D

In [19]:
sub2['NUMBEERMO_EST'] = sub2['BEER_FEQMO'] * sub2['S2AQ5D']  # estimated beers per month
sub2['NUMBEERMO_EST'].head()

1         NaN
8         NaN
12   4.000000
16        NaN
24        NaN
Name: NUMBEERMO_EST, dtype: float64

# print the count for age

In [ ]:
#examining frequency distributions for age
c_age = sub2['AGE'].value_counts(sort=False)
print ('counts for AGE')
print(c_age)

# use sub2
# print percentag for age

In [20]:
p_age = sub2['AGE'].value_counts(sort=False, normalize=True) * 100
print('percentages for AGE')
print(p_age)

percentages for AGE
AGE
28   3.299420
29   3.869925
31   4.307312
38   4.792241
36   4.411905
44   3.622706
32   4.773224
42   4.402396
33   4.022060
39   4.411905
40   4.725682
34   4.392888
45   4.126652
26   3.090235
41   4.231245
48   3.584672
43   3.784349
50   3.090235
35   3.955501
49   3.147285
37   4.735191
46   3.765332
27   3.774841
30   4.212228
47   3.470571
Name: proportion, dtype: float64

# Group age into 3 groups
# 26 - 33
# 34 - 41
# 42 - 50

In [22]:
# splits into 3 groups (26-50) - remember that Python starts counting from 0, not 1
sub2['AGEGROUP3'] = pd.cut(sub2['AGE'], bins=[25, 33, 41, 50], labels=['26-33', '34-41', '42-50'])

# print the count of this new group

In [23]:
c_age_group = sub2['AGEGROUP3'].value_counts(sort=False, dropna=False)
print('counts for AGEGROUP3')
print(c_age_group)

counts for AGEGROUP3
AGEGROUP3
26-33    3297
34-41    3750
42-50    3470
Name: count, dtype: int64

# print the percentage of this new group

In [24]:
print('percentages for AGEGROUP3')
p_age_group = sub2['AGEGROUP3'].value_counts(sort=False, normalize=True) * 100
print(p_age_group)

percentages for AGEGROUP3
AGEGROUP3
26-33   31.349244
34-41   35.656556
42-50   32.994200
Name: proportion, dtype: float64

# Print the crosstab between AGEGROUP3 and AGE

In [25]:
#crosstabs evaluating which ages were put into which AGEGROUP3
print('\nCrosstab: AGEGROUP3 by AGE')
print(pd.crosstab(sub2['AGEGROUP3'], sub2['AGE'], dropna=False))

Crosstab: AGEGROUP3 by AGE
AGE         26   27   28   29   30   31   32   33   34   35  ...   41   42  \
AGEGROUP3                                                    ...
26-33      325  397  347  407  443  453  502  423    0    0  ...    0    0
34-41        0    0    0    0    0    0    0    0  462  416  ...  445    0
42-50        0    0    0    0    0    0    0    0    0    0  ...    0  463

AGE         43   44   45   46   47   48   49   50
AGEGROUP3
26-33        0    0    0    0    0    0    0    0
34-41        0    0    0    0    0    0    0    0
42-50      398  381  434  396  365  377  331  325

[3 rows x 25 columns]